server:
  port: 8070

spring:
  application:
    name: eurekaserver

  config:
    import: optional:configserver:http://configserver:8071/

management:
  endpoints:
    web:
      exposure:
        include: '*'   # expose all endpoints

  endpoint:
    health:
      group:
        liveness:
          include: livenessState
        readiness:
          include: readinessState

  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
    endpoint:
      health:
        probes:
          enabled: true

eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: false
    fetch-registry: false
