server:
  port: 8071

spring:
  application:
    name: configserver

  cloud:
    config:
      server:
        git:
          uri: https://github.com/vinay12oct/eazybank-config.git
          default-label: main
          timeout: 5
          clone-on-start: true
          force-pull: true

management:
  endpoints:
    web:
      exposure:
        include: '*'   # expose all endpoints

  endpoint:
    health:
      group:
        liveness:
          include: livenessState
        readiness:
          include: readinessState

  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
    endpoint:
      health:
        probes:
          enabled: true
