apiVersion: apps/v1
kind: Deployment
metadata:
  name: account
  labels:
    app: account
spec:
  replicas: 1
  selector:
    matchLabels:
      app: account
  template:
    metadata:
      labels:
        app: account
    spec:
      containers:
        - name: account
          image: vinay12oct/account:s20  # Updated tag here
          ports:
            - containerPort: 9090

---
apiVersion: v1
kind: Service
metadata:
  name: account
  labels:
    app: account
spec:
  selector:
    app: account
  ports:
    - protocol: TCP
      port: 9090
      targetPort: 9090
  type: LoadBalancer
